<h1>Hero</h1>
Result for {{searchValue}}
<hr>

<div class="row animated fadeIn fast" *ngIf="heros.length == 0">
  <div class="col-md-12">
    <div class="alert alert-info" role="alert">
      Not results whith {{searchValue}}.
    </div>
  </div>
</div>

<div class="card-columns">

  <div class="card" *ngFor="let hero of heros; let i = index">
    <img class="card-img-top" [src]="hero.img" [alt]="hero.nombre">
    <div class="card-body">
      <h5 class="card-title">{{hero.nombre}}</h5>
      <p class="card-text">{{hero.bio}}</p>
      <p class="card-text"><small class="text-muted">{{hero.aparicion}}</small></p>
      
      <button type="button" class="btn btn-outline-primary btn-block"
        (click)="seeHero(i)">
          see more...
      </button>

      <a [routerLink]="['/hero',i]" class="btn btn-outline-primary">See more</a>
    </div>
  </div>
</div>