<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
   pipes
  </h1>
  <hr>
  
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">Variable</th>
        <th scope="col">Pipe</th>
        <th scope="col">Result</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">{{name}}</th>
        <td>uppercase</td>
        <td>{{name | uppercase}}</td>
      </tr>
      <tr>
        <th scope="row">{{name}}</th>
        <td>lowercase</td>
        <td>{{name | lowercase}}</td>
      </tr>
      <tr>
        <th scope="row">{{name}}</th>
        <td>slice:3</td>
        <td>{{name | slice:3}}</td>
      </tr>
      <tr>
        <th scope="row">{{name}}</th>
        <td>slice:0:3</td>
        <td>{{name | slice:0:3}}</td>
      </tr>
      <tr>
        <th scope="row">{{array}}</th>
        <td>slice:1:5</td>
        <td>{{array | slice:1:5}}</td>
      </tr>
      <tr>
        <th scope="row">{{PI}}</th>
        <td>number</td>
        <td>{{PI | number}}</td>
      </tr>
      <tr>
        <th scope="row">{{PI}}</th>
        <td>number:'3.0-0'</td>
        <td>{{PI | number:'3.0-0'}}</td>
      </tr>
      <tr>
        <th scope="row">{{PI}}</th>
        <td>number:'1.0-2'</td>
        <td>{{PI | number:'1.0-2'}}</td>
      </tr>
      <tr>
        <th scope="row">{{a}}</th>
        <td>percent</td>
        <td>{{a | percent}}</td>
      </tr>
      <tr>
        <th scope="row">{{a}}</th>
        <td>percent:'2.2-2'</td>
        <td>{{a |percent :'2.2-2'}}</td>
      </tr>
      <tr>
        <th scope="row">{{salary}}</th>
        <td>currency</td>
        <td>{{salary |currency}}</td>
      </tr>
      <tr>
        <th scope="row">{{salary}}</th>
        <td>currency:'EUR'</td>
        <td>{{salary |currency:'EUR'}}</td>
      </tr>
      <tr>
        <th scope="row">{{salary}}</th>
        <td>currency:'EUR':false</td>
        <td>{{salary |currency:'EUR':false}}</td>
      </tr>
      <tr>
        <th scope="row">{{salary}}</th>
        <td>currency:'EUR':true:'4.0-0'</td>
        <td>{{salary |currency:'EUR':false:'4.0-0'}}</td>
      </tr>
      <tr>
        <th scope="row">{{salary}}</th>
        <td>number:'.2-2'</td>
        <td>{{salary |number:'.2-2'}}</td>
      </tr>
      <tr>
        <th scope="row">{{promiseValue}}</th>
        <td>async</td>
        <td>{{promiseValue | async}}</td>
      </tr>
      <tr>
        <th scope="row">{{date}}</th>
        <td>date</td>
        <td>{{date | date}}</td>
      </tr>
      <tr>
        <th scope="row">{{date}}</th>
        <td>date:'medium'}}</td>
        <td>{{date | date:'medium'}}</td>
      </tr>
      <tr>
      <th scope="row">{{date}}</th>
        <td>date:'MMMM - dd'</td>
        <td>{{date | date:'MMMM - dd'}}</td>
      </tr>
      <tr>
      <th scope="row">{{name2}}</th>
        <td>customName</td>
        <td>{{name2 | customName}}</td>
      </tr>
      <tr>
        <th scope="row">{{name2}}</th>
          <td>customName:false</td>
          <td>{{name2 | customName:false}}</td>
        </tr>
        
      
    </tbody>
  </table>

  <h4>Slice</h4>
  <ul>
    <li *ngFor="let item of array | slice:5:20 ">{{item}}</li>
  </ul>

  <h4>json</h4>
  <pre>{{hero | json}}</pre>

  <h4>Youtube</h4>
  <iframe width="640" height="360" 
    [src]="video | domSecure:'https://www.youtube.com/embed/'" 
    frameborder="0" allow="autoplay; encrypted-media" 
    allowfullscreen></iframe>

  <br><br><br><br><br><br><br><br><br>

  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">Variable</th>
        <th scope="col">Pipe</th>
        <th scope="col">Result</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">{{name}}</th>
        <td>
          password:{{activate}}
          <br/>
          <button 
            (click)="activate = !activate"
            type="button"
            class="btn btn-outline-primary">on/off</button>
        </td>

        <td>{{name | password:activate}}</td>
      </tr>
    </tbody>
  </table>

</div>


