<h1>boy component</h1>
<div class="row">
    <div class="col-md-6">
        <h1>*ngif</h1>
        <hr>
        <button type="button" class="btn bnt-outline-primary btn-block"
            (click)="show = !show">
            show/disabled
        </button>
        <br/>
        <div *ngIf="show" class="card text-white bg-primary mb-3" style="max-width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{sentence.author}}</h5>
                <p class="card-text">{{sentence.message}}</p>
            </div>
        </div>
        <hr>
    </div>

    <div class="col-md-6">
        <h1>*ngfor</h1>
        <hr>
        <ul class="list-group">
            <li class="list-group-item"
            *ngFor="let charecter of charecters;let i = index" >
                {{i+1}}-{{charecter}}
            </li>
        </ul>
    </div>
</div>